{% extends  'base.html' %}
{% block title %} Password Reset Page {% endblock title%}
{% block content %}
{% if validlink %}
    <h2>Password Reset</h2>
    <form method="post" action="" style="width:50%; margin:auto;">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
{% else %}
    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
{% endif %}
{% endblock content %}